name = "trappertracker"
main = "functions/_worker.js"
compatibility_date = "2023-10-30"
account_id = "aaa44243e7d12c5daab2555cc08eb8aa"


[vars]
DATABASE_ID = "your-database-id"

[[d1_databases]]
binding = "DB"
database_name = "trappertracker"
database_id = "58d143ae-9c04-4136-b155-10f616846291"

[assets]
directory = "./public"