name = "trappertracker"
compatibility_date = "2023-10-30"

[[d1_databases]]
binding = "DB"
database_name = "trappertracker"
database_id = "58d143ae-9c04-4136-b155-10f616846291"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "trapper-tracker-photos"
